.breadcrumb{

    padding-left: 48px;
    padding-top: 55px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: none;

    color: #000000;
}