.label{
    box-sizing: border-box;

    position: absolute;
    width: 1214px;
    height: 886px;
    left: 113px;
    top: 412px;
    background: #F6F6F6;
    border: 1px solid #F6F6F6;
}

.form1{
    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 53px;
    
    padding: 10px;
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #000000;
}
.ctrl1{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 53px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form2{
    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 107px;

    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    box-sizing: border-box;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ctrl2{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 107px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form3{
    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 161px;
    padding: 10px;
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.select{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 161px;


    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form4{
    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 215px;
    padding: 10px;
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

    box-sizing: border-box;
    width: 416px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ctrl4{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 215px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form5{
    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 269px;
    padding: 10px;
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ctrl5{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 269px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form6{
    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 323px;
    padding: 10px;
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ctrl6{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 323px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form7{
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    color: #000000;
        box-sizing: border-box;

    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 377px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ctrl7{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 377px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form8{
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    color: #000000;
    box-sizing: border-box;

    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 431px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ctrl8{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 431px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form9{
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    color: #000000;

    box-sizing: border-box;

    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 485px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ctrl9{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 485px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form10{
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    color: #000000;

    box-sizing: border-box;

    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 540px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ctrl10{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 540px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form11{
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding: 10px;
    color: #000000;

    box-sizing: border-box;

    position: absolute;
    width: 416px;
    height: 45px;
    left: 58px;
    top: 594px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.ctrl11{
    box-sizing: border-box;
    font-family: 'Glory', sans-serif;
    position: absolute;
    width: 676px;
    height: 45px;
    left: 484px;
    top: 594px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.form12{
    position: absolute;
    width: 859px;
    height: 24px;
    left: 55px;
    top: 650px;

    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;

    color: rgba(242, 78, 26, 0.8);
}
.btn-submit{
    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    
    position: absolute;
    width: 130px;
    height: 44px;
    left: 524px;
    top: 723px;
    border: none;
    border-radius: 10px;
    background: #F24E1A;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.btn-submit:active{
    cursor: pointer;
}