.container-fluid{
    padding-top:33px;
    padding-bottom: 10px;
  }
  
.Logo-img{
    position: absolute;
width: 151px;
height: 37px;
right: 990px;
top: 59px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.menu-beranda{
    list-style: none;
    padding-left: 685px;
    padding-top: 33px;
    
}
  
.navbar {
      
    line-height: 18px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: space;
    align-items: center;
}

.menu-beranda>li, .menu>a{
    display: inline-block;
}
.menu-beranda li {
    position: relative;
}
.menu-beranda a {
    font-family: 'Glory', sans-serif;
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: black ;
    padding: 12px 25px ;
    
    
}
.menu-beranda a:hover{
    color: blueviolet;
    cursor: pointer;
}
.btn-login{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 1005px;
    top: 63px;
    background: #000000;
    border-radius: 50px;

    font-family: 'Glory', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */


    color: #F6F6F6;

}