.news-tittle{
    position: absolute;
width: 100%;
height: 221px;
left: 0px;
top: 199px;
z-index: -1;
background: rgba(255, 199, 0, 0.7);

}
.news-tittle>:nth-child(1){
    position: absolute;
width: 1171px;
height: 43px;
left: 93px;
top: 62px;

font-family: 'Glory',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 43px;

color: #000000;
}
.icon-tgl{
    position: absolute;
width: 30px;
height: 30px;
left: 93px;
bottom: 3980px;
}
.tanggal{
    position: absolute;
width: 124px;
height: 18px;
left: 133px;
bottom: 3985px;

font-family: 'Glory', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 18px;
color: #000000;

}
.img-news{
    position: absolute;
width: 542px;
height: 361px;
left: 237px;
bottom: 3569px;
border-radius: 1px;
}
.container-1 p{
    position: absolute;
    width: 760px;
    height: 400px;
    left: 73px;
    bottom: 3100px
}
p{
    text-align: justify;
    font-family: 'Gilroy',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}
.container-2{
    display: grid;
    grid-gap: 40px;
    
}
.break{
    grid-area: break;
    border-color:3px rgba(242, 78, 26, 0.4);
    height: 40px;
    top: 200px;
}
.break-2{
    grid-area: break;
    border-color:3px rgba(242, 78, 26, 0.4);
    height: 40px;
}
.vl{
    border-left: 3px solid rgba(242, 78, 26, 0.4);
  height: 1200px;
  position: absolute;
  left: 80%;
  margin-left: -3px;
    bottom: 2800px;
}
.icon-news{
    position: absolute;
width: 50px;
height: 50px;
left: 988px;
bottom: 3964px;

}
.Headline{
    position: absolute;
width: 389px;
height: 38px;
left: 1074px;
bottom: 3964px;

 font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 38px;

color: #000000;
}
.p-1{
    position: absolute;
width: 310px;
height: 32px;
left: 988px;
bottom: 3730px;

 font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 16px;
text-align: justify;

color: #000000;
}
.p-2{
    position: absolute;
width: 310px;
height: 32px;
left: 988px;
bottom: 3846px;

font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 16px;
text-align: justify;

color: #000000;
}
.p-3{
    position: absolute;
width: 310px;
height: 32px;
left: 988px;
bottom: 3634px;

 font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 16px;
text-align: justify;

color: #000000;
}
.p-4{
    position: absolute;
width: 361px;
height: 44px;
left: 968px;
bottom: 3446px;

 font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;

color: #000000;
}
.add-news{
    position: absolute;
width: 130px;
height: 44px;
left: 990px;
bottom: 3350px;
border: none;
background: #F24E1A;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
     font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 24px;

color: #FFFFFF;

}
.konfirmasi{
    position: absolute;
    width: 370px;
    height: 143px;
    left: 988px;
    bottom: 3190px;
    
    background: #F6F6F6;
    border-radius: 10px;
}
.konfirmasi>:nth-child(1){
    position: absolute;
width: 326px;
height: 14px;
left: 26px;
top: 10px;

font-family: 'Glory', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 14px;

color: #F24E1A;
}
.img-warning{
    position: absolute;
width: 136px;
height: 91px;
left: 27px;
top: 35px;
}
.konfirmasi>:nth-child(3){
    position: absolute;
width: 108px;
height: 24px;
left: 175px;
top: 56px;

 font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 24px;
/* identical to box height */


color: #000000;
}
.konfirmasi>:nth-child(4){
    position: absolute;
width: 264px;
height: 22px;
left: 175px;
top: 94px;

 font-family: 'Gilroy',sans-serif;
font-style: normal;
font-weight: 300;
font-size: 17px;
line-height: 22px;
/* identical to box height */


color: #000000;
}
