<<<<<<< HEAD
.container-fluid{
    padding-top:33px;
    padding-bottom: 10px;
  }

=======
>>>>>>> 4f16c3eeafc6e3253407b084ea64b1c8b442c47b
.Logo-img{
    position: absolute;
    width: 151px;
    height: 37px;
<<<<<<< HEAD
    left: 93px;
    top: 63px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.menu-beranda{
    list-style: none;
    padding-left: 685px;
    padding-top: 33px;
=======
    left: 90px;

}


.menu-beranda{
    list-style: none;
    padding-left: 685px;

>>>>>>> 4f16c3eeafc6e3253407b084ea64b1c8b442c47b

}

.navbar {

    line-height: 18px;
    background-color: white;
<<<<<<< HEAD
    margin: 0 auto;
    display: flex;
    justify-content: space;
    align-items: center;
=======
    display: flex;
    justify-content: space;
    align-items: center;

>>>>>>> 4f16c3eeafc6e3253407b084ea64b1c8b442c47b
}

.menu-beranda>li, .menu>a{
    display: inline-block;
}
.menu-beranda li {
    position: relative;
}
.menu-beranda a {
    font-family: 'Glory', sans-serif;
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: black ;
<<<<<<< HEAD
    top:73px;
    left:928px;
=======
>>>>>>> 4f16c3eeafc6e3253407b084ea64b1c8b442c47b
    padding-left:25px;
    padding-right:25px;


}
.menu-beranda a:hover{
    color: blueviolet;
    cursor: pointer;
}
.btn-login{
    position: absolute;
    width: 150px;
    height: 40px;
    left: 1189px;
    top: 62px;

    background: #000000;
    border-radius: 50px;

    font-family: 'Lato';
<<<<<<< HEAD
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
color:white;

}
=======
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color:white;

}

.btn-login:active{
    cursor: pointer;
    background-color: #000000;
    box-shadow: 2px 2px 4px 4px rgb(0,0,0);
}
>>>>>>> 4f16c3eeafc6e3253407b084ea64b1c8b442c47b
